altgraph==0.17
auto-py-to-exe==2.6.6
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
Eel==0.12.2
et-xmlfile==1.0.1
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
jdcal==1.4.1
openpyxl==3.0.3
pefile==2019.4.18
progress==1.5
pycparser==2.19
PyInstaller==3.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
pywin32-ctypes==0.2.0
whichcraft==0.6.1
